# Repository #
##############
.git

# Logging #
###########
/logs
*.log

# Misc #
########
*.bak

# System #
##########
.DS_Store
ehthumbs.db
Thumbs.db

# Project #
###########
.externalToolBuilders
.gradle
.nb-gradle
.idea
.project
.settings
*.iml
*.ipr
*.iws
